.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;
}

.profile__header {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile__data {
  margin-top: 123px;
  width: 410px;
}

.profile__data-line {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__data-text {
  margin: 0;
}

.profile__data-field {
  margin: 0;
  border: none;
  outline: none;
  text-align: right;
}
.profile__data-separator {
  background: #e8e8e8;
  color: #e8e8e8;
  border: 1px solid #e8e8e8;
  margin: 17px 0;
}

.profile__bottom-buttons {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__edit-button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.profile__exit-button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #ee3465;
}

.profile__exit-button:hover {
  opacity: .7;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .7;
  cursor: pointer;
}

.profile__edit-button:disabled {
  color: red;
  opacity: 1;
  cursor: default;
}


@media screen and (max-width: 769px) {
  .profile {
    margin-top: 236px;
  }

  .profile__data {
    margin-top: 96px;
  }

  .profile__bottom-buttons {
    margin-top: 210px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    margin-top: 70px;
  }

  .profile__data {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 80px;
  }

  .profile__bottom-buttons {
    margin-top: 379px;
  }

  .profile__exit-button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
  }
}
