.account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 3px 3px 3px 11px;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: black;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  justify-self: end;
}

.account-button_white {
  background-color: lightblue;
  box-shadow: 0px 3px 14px rgba(255, 255, 255, 0.08);
}

.account-button:hover {
  opacity: 0.8;
}

.account-button__img-circle-frame {
  background: #f9f9f9;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
